@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    color: white;
}
body{
    background:#141414;
}
.main-container{
    margin: 20px 50px;
}
.logo img{
    height: 50px;
    width: 160px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    background: #0F0F0F;
    border: 3px solid #1e1e1e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 40px;
}
.nav-icon{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-icon img{
    height: 25px;
}
#movie{
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
}

/* HERO SECTION STARTS */

.main-content{
    padding: 50px 0px;
}
.main-content img{
    width: 1420px;
    height: 750px;
    position: absolute;
    z-index: -1;
}

.hero-container{
    width: 1420px;
    height: 850px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 100%;
}

.extra{
    height: 570px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para p{
    text-align: center;
    width: 1100px;
    height: 50px;
    color: #999999;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.buttons {
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
    /* align-items: center; FIX */
    gap: 30px;
    margin-right: 30px;
    background-color: red;
    padding: 15px;
    border-radius: 10px;
}

.play-img img {
    width: 20px;
    height: 20px;
    z-index: 1;
}

.btn-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px; 
}

.btn {
    background: rgb(0, 0, 0);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 25px;
    border: 1px solid #1F1F1F;
}

.btn img {
    width: 25px;
    height: 25px;
    z-index: 1;
}
.arrow img{
    height: 25px;
    width: 25px;
    z-index: 1;
}
.arrow {
    height: 50px;
    width: 50px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1F1F1F;
}

.slider{
    display: flex;
    gap: 5px;
}

#red{
    width: 25px;
    height: 4px;
    background: red;
    border-radius: 100px;
}
.simple{
    width: 15px;
    height: 4px;
    background: #333333;
    border-radius: 100px;
}
.hero-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}
/* MOVIES SECTION */

fieldset{
     border: 1px solid #262626;
     border-radius: 12px;
}
legend{
    background: red;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 20px;
}
.top-btn{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.genre{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}
.genre-button{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    gap: 5px;
    background: #0F0F0F;
    border: 1px solid #1F1F1F;
}

.simple-genre{
    width: 15px;
    height: 4px;
    background: #333333;
    border-radius: 100px;
}
#red-genre{
    width: 18px;
    height: 4px;
    background: red;
    border-radius: 100px;
}
.arrow-genre {
    height: 50px;
    width: 50px;
    background: #1F1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1F1F1F;
}
.movie-cards{
    display: flex;
    margin: 50px;
    gap: 40px;
}

.card{
    background: #1A1A1A;
    padding: 10px 30px;
    border: 1px solid #262626;
    border-radius: 10px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.trend {
    background: red;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    height: 20px;
    width: 60px;
}
.popular{
    padding: 40px 40px;
}