@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    color: white;
}
body{
    background:#141414;
}
.main-container{
    margin: 20px 50px;
}
.logo img{
    height: 50px;
    width: 160px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    background: #0F0F0F;
    border: 3px solid #1e1e1e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 40px;
}
.nav-icon{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-icon img{
    height: 25px;
}
#movie{
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
}

/* HERO SECTION STARTS */

.main-content{
    padding: 50px 0px;
}
.main-content img{
    width: 1420px;
    height: 750px;
    position: absolute;
    z-index: -1;
}
.hero-container{
    width: 1420px;
    height: 850px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 100%;
}

.extra{
    height: 370px;
    text-align: center;
}

.para p{
    text-align: center;
    width: 1100px;
    height: 50px;
    color: #999999;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
    /* align-items: center; FIX */
    gap: 30px;
    margin-right: 30px;
    background-color: red;
    padding: 15px;
    border-radius: 10px;
}

.play-img img {
    width: 20px;
    height: 20px;
    z-index: 1;
}

.btn-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px; 
}

.btn {
    background: rgb(0, 0, 0);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 25px;
    border: 1px solid #999999;
}

.btn img {
    width: 25px;
    height: 25px;
    z-index: 1;
}
.arrow img{
    height: 25px;
    width: 25px;
    z-index: 1;
}
.arrow{
    height: 50px;
    width: 50px;
    background: #000;
}
